<app-example-ng-content>
  
  <section header>
      conteudo do cabeçalho
  </section>
  
  <section body>
    conteudo do corpo
  </section>
  
  <section footer>
    conteudo do rodapé
  </section>
  
</app-example-ng-content>

<hr>

<app-example-tmp-ref [tmp]="tmpMsg"></app-example-tmp-ref>

<ng-template #tmpMsg let-user>
  <p>Bem vindo {{ user.name || 'não informado' }}</p>
</ng-template>

<hr>

<app-example-dynamic-component [dynamicComponent]="component"></app-example-dynamic-component>

